.footer {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 10px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 20px 50px;
  background-color: rgb(41, 39, 38);
  color: whitesmoke;
}

.quote h6 {
  padding: 20px;
}

.get-started {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  margin: 5%;
  padding: 10px;
}

.get-started button {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  height: 50px;
  background-color: #074776;
  color: whitesmoke;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(41, 39, 38);
}

.contact a {
  margin: 10px;
  text-decoration: none;
  color: whitesmoke;
}

.contact h6 {
  font-size: 0.5rem;
}
.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: whitesmoke;
  margin: auto 10px;
}
.icons {
  margin: auto 15px;
  color: white;
}
.icon {
  margin: auto 5px;
}

@media (max-width: 800px) {
  .middle-content .boxes .box {
    width: 50%;
    height: auto;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .get-started button {
    border: none;
    border-radius: 10px;
    height: 50px;
    margin: 10px 0;
    background-color: #074776;
    color: whitesmoke;
  }
}
